.equation input {
    width: 36px;
    height: 24px;
    font-size: medium;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    text-align: center; 
}

.equation input:focus {
    outline: none !important;
}

.equation mjx-container {
    text-align: left !important;
}

.equation {
    display: flex;
    align-items: center;
    justify-content: center;
}

::placeholder {
    text-align: center; 
    font: 1.25rem/3 sans-serif;
}